.container{

    width:100vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
::-webkit-scrollbar{
    display:none;
}

.search-bar{
    margin-top:40vh;
    margin-bottom: 10px;
    width:800px;
    padding:15px;
    border-radius: 10px;
    border:1px thin;
}

.name{
    justify-content: space-between;
}

.select-items{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:100vw;
    align-items: flex-start;
}